<ion-card  class="post">
  <ion-grid>
    <ion-row>
      <ion-col>
        <img src="{{post.avatarUsuario}}" alt="foto perfil" width="20px" class="avatar" >
        <ion-text>
          <strong>{{post.usuario}}</strong>
        </ion-text>              
      </ion-col>
      <ion-col size="1">
        <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card-content>
    <img src="{{post.imagenPost}}" alt="" class="postImg">
    <p>{{post.descripcionPost}}</p>


    
  </ion-card-content>

  <div class="footer">
    <div class="options">
      <ion-grid>
        <ion-row>
          <p>{{post.likes}} me gustas</p>
          <ion-col size="11">
            <app-likes (liked)="opPostLiked($event)" [post_back]="postB"></app-likes>
          
            <ion-icon name="chatbubble-outline" class="item-post"></ion-icon>
            <ion-icon name="paper-plane-outline" class="item-post"></ion-icon>
          </ion-col>
          <ion-col size="1">
            <ion-icon name="bookmark-outline"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>

    </div>
    <div class="comment">           
        <img src="..//../assets/images/Stories/Ruffles.png" alt="foto perfil" width="20px" class="avatar">
        <ion-input placeholder="Escribir un cometario"></ion-input>
    </div>
    
  </div>
</ion-card>
<ion-button fill="outline" (click)="obtenerPublicaciones()">Cargar Feed</ion-button>
<ion-button fill="outline" (click)="crearPublicacion(testData)">Creat Post de prueba</ion-button>
<ion-button fill="outline" (click)="borrarDatos()">Borrar Posts</ion-button>
<ion-card>
  <ion-grid>
<h2>--posts aqui--</h2>
    <ion-row>
     
      
    </ion-row>
  </ion-grid>
</ion-card>


