.card-post {
    width: 100%;
    margin: 0;
}

ion-card-footer {
    display: block;
    padding: 0 16px 16px 16px;
}

.header-icons {
    text-align: right;
    .item {
        width: 30px;
        //margin-right: 10px;
    }
}





ion-item {
    display: inline-block;
}

.item-post {
    ion-icon {
        width: 30px;
    }
}

ion-text {
    display: inline-block;
    color: black;
    margin : 0 10px;
}

ion-input {
    display: inline-block;
    width: auto;
}



.like {
    background: red;
}

.post {
    img.postImg {
        display: block; 
        margin: 0 auto;
    }
}