<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Max
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row class="usuario">
      <ion-col>
        <img src="../../assets/images/Ruffles.png" alt="Perfil" id="profile">
      </ion-col>
      <ion-col class="datos">
        <ion-label class="bold">9</ion-label>
        <ion-label>Posts</ion-label>

      </ion-col>
      <ion-col class="datos">
        <ion-label class="bold">2M</ion-label>
        <ion-label>Followers</ion-label>
      </ion-col>

      <ion-col class="datos">
        <ion-label class="bold">3</ion-label>
        <ion-label>Following</ion-label>
      </ion-col>

    </ion-row>

    <ion-row class="descripcion">
      <ion-col>
        <ion-label class="nombre">
          Max
        </ion-label>
        <ion-label>
          Hola soy Max y soy un perro feliz :D    
          <bl>
            <a href="https://bongo.cat/">Click Me!</a>
          </bl>
        </ion-label>
        <ion-button>Edit Profile</ion-button>
      </ion-col>
    </ion-row>

    <ion-row id="posts">
      <ion-col class="inner-posts" >
        <ion-grid>
          
          <ion-row>
            <ion-col>
              <img src="../../assets/images/steve-halama-dfwFFQLvc0s-unsplash 1.png" alt="cici">
            </ion-col>
            <ion-col>
              <img src="../../assets/images/shuttergames-9BE8hiqvUM4-unsplash 1.png" alt="cici">
            </ion-col>
            <ion-col>
              <img src="../../assets/images/raul-angel-x8Ac6jee_3s-unsplash 2.png" alt="cici">
            </ion-col>
          </ion-row>
          
          <ion-row>
            <ion-col>
              <img src="../../assets/images/morgan-aragon-BFyTdSthQDA-unsplash 2.png" alt="cici">
            </ion-col>
            <ion-col>
              <img src="../../assets/images/jose-alejandro-cuffia-k1LNP6dnyAE-unsplash 2.png" alt="cici">
            </ion-col>
            <ion-col>
              <img src="../../assets/images/jesus-santos-ZBBKk2-Cgf8-unsplash 2.png" alt="cici">
            </ion-col>
          </ion-row>
          
          <ion-row>
            <ion-col>
              <img src="../../assets/images/grace-ho-zej4HPQLR5o-unsplash 1.png" alt="cici">
            </ion-col>
            <ion-col>
              <img src="../../assets/images/everton-vila-AsahNlC0VhQ-unsplash 1.png" alt="cici">
            </ion-col>
            <ion-col>
              <img src="../../assets/images/eric-weber-nQOQVJW7EY8-unsplash 1.png" alt="cici">
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>


  <app-explore-container name="Tab 3 page"></app-explore-container>
</ion-content>
