<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Max
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row class="usuario">
      <ion-col>
        <img src="../../assets/images/{{avatar}}" alt="Perfil" id="profile">
      </ion-col>
      <ion-col class="datos">
        <ion-label class="bold">{{posts}}</ion-label>
        <ion-label>Posts</ion-label>

      </ion-col>
      <ion-col class="datos">
        <ion-label class="bold">{{followers}}</ion-label>
        <ion-label>Followers</ion-label>
      </ion-col>

      <ion-col class="datos">
        <ion-label class="bold">{{following}}</ion-label>
        <ion-label>Following</ion-label>
      </ion-col>

    </ion-row>

    <ion-row class="descripcion">
      <ion-col>
        <ion-label class="nombre">
          Max
        </ion-label>
        <ion-label>
          {{description}}   
          <bl>
            <a href="https://bongo.cat/">Click Me!</a>
          </bl>
        </ion-label>
        <ion-button fill="outline" *ngIf="esUsuario">Edit Profile</ion-button>
        <ion-grid *ngIf="!esUsuario">
          <ion-row>
            <ion-col size="3" >
              <ion-button fill="outline">Follow</ion-button>
            </ion-col>
            <ion-col size="3" >
              <ion-button fill="outline">Message</ion-button>
            </ion-col>
            <ion-col size="3" >
              <ion-button fill="outline"><ion-icon name="chevron-down-outline"></ion-icon></ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>

    <ion-row id="posts">
      <ion-col class="inner-posts" >
        <ion-grid>
          <ion-row>
            <ion-col *ngFor="let post of postsURLS" size="4">
              <img src="../../assets/images/{{post}}">
            </ion-col>
          </ion-row>
        </ion-grid>



      </ion-col>
    </ion-row>
  </ion-grid>


  <app-explore-container name="Tab 3 page"></app-explore-container>
</ion-content>
