.slider-stories  {
    overflow-x: scroll;
    .swiper-wrapper {

    }
    
}
.slider-stories {
    height: 120px;
    .swiper-slide{
        width: auto !important;
        margin: 0 5px;
    }
}

ion-slide {
    height: 100%;
}