<!---historias---->
<ion-row>
  <ion-slides scrollbar="true" class="slider-stories">
    <ion-slide>
      <a href="">
        <img src="../../assets/images/historias/historia1.png" alt="">
      </a>
    </ion-slide>
    <ion-slide>
      <a href=""><img src="../../assets/images/historias/historia2.png" alt=""></a>
    </ion-slide>
    <ion-slide>
      <img src="../../assets/images/historias/historia3.png" alt="">
    </ion-slide>
    <ion-slide>
      <img src="../../assets/images/historias/historia4.png" alt="">
    </ion-slide>
    <ion-slide>
      <img src="../../assets/images/historias/historia5.png" alt="">
    </ion-slide>
    <ion-slide>
      <img src="../../assets/images/historias/historia4.png" alt="">
    </ion-slide>
    <ion-slide>
      <img src="../../assets/images/historias/historia1.png" alt="">
    </ion-slide>
    <ion-slide>
      <img src="../../assets/images/historias/historia2.png" alt="">
    </ion-slide>
    <ion-slide>
      <img src="../../assets/images/historias/historia3.png" alt="">
    </ion-slide>
    <ion-slide>
      <img src="../../assets/images/historias/historia4.png" alt="">
    </ion-slide>
    <ion-slide>
      <img src="../../assets/images/historias/historia5.png" alt="">
    </ion-slide>
    <ion-slide>
      <img src="../../assets/images/historias/historia4.png" alt="">
    </ion-slide>
  </ion-slides>

</ion-row>